<div class="alert" role="alert" *ngIf="activeAlert" [ngClass]="{'alert-primary': type === 'primary', 'alert-danger': type === 'danger'}"  >
  <label [ngStyle]="type === 'danger' ? alertStyle : {}"  >Producto eliminado</label>

  <button (click)="activeAlert = false">Cerrar</button>
</div>

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have 4 items in your cart</p>
                  </div>
                  <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                        class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                  </div>
                </div>

                <app-product-card 
                  *ngFor="let product of (products | sort: 'price')" 
                  [product]="product"
                  (onDelete)="removeItemFromProducts($event)"
                >

                </app-product-card>

              </div>
              <div class="col-lg-5">

                <app-credit-card>
                  
                </app-credit-card>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>